<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.artigile.android" android:versionCode="26" android:versionName="3.0">

    <application android:icon="@drawable/icon" android:label="@string/app_name"
                 android:name=".MazeApp" android:hardwareAccelerated="true">
        <activity android:screenOrientation="landscape" android:name=".MainActivity"
                  android:launchMode="standard"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:screenOrientation="landscape" android:name=".tutorial.TutorialActivity"
                  android:launchMode="standard"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        </activity>
        <activity android:screenOrientation="landscape" android:name=".game.GameActivity"
                  android:launchMode="standard"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>
        <activity android:screenOrientation="landscape" android:name=".game.VideosActivity"
                  android:launchMode="standard"
                  android:theme="@style/Theme.ListFont">
        </activity>
        <activity
                android:name=".preferences.ScaryMazePreferencesActivity"
                android:label="@string/scary_maze_settings_activity_title">
        </activity>
        <service android:name=".game.RecorderService"/>
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
    </application>

    <supports-screens android:anyDensity="true"
                      android:largeScreens="true"
                      android:normalScreens="true"
                      android:resizeable="true"
                      android:smallScreens="true"
                      android:xlargeScreens="true"/>

    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="14"/>


    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>